<div class="container">
    <div>
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/list">List</a>
                </li>
                <li>
                    <a routerLink="/products">Products</a>
                </li>
                <li>
                    <a routerLink="/lazy">Lazy Load</a>
                </li>
            </ul>
        </nav>

    </div>
    <router-outlet></router-outlet>
</div>